.invoice-title {
  &--large {
    font-size: 5rem;
    font-weight: 800;
    color: $color-blue-dark;
    text-transform: uppercase;
  }

  font-size: 2.2rem;
  font-weight: 700;
  color: $color-blue-dark;
  text-transform: uppercase;
  letter-spacing: -2px !important;
}
.section-invoice {
  p {
    color: $color-black;
  }
  .company {
    &-details {
      color: $color-black;
    }
    &-name {
      font-weight: 700;
    }
    &-address {
      color: $color-black;
    }
  }

  .table {
    width: 88vw !important;

    tr {
      border: transparent;

      td {
        padding: 1rem 0 !important;
      }
    }

    .text-left {
      text-align: end !important;
    }
  }
}
