.section-user-dashboard-heading {
  .heading {
    &--main {
      font-size: 4.5rem;
      font-weight: 800;
      color: $color-blue-dark;
    }

    &--sub {
      font-weight: 500;
      color: $color-grey-dark--3;
    }
  }
  .btn-txt {
    background-color: $color-primary;
    color: $color-white;
  }
}

.section-user-dashboard {
  display: flex;

  &--sidebar {
    width: 24rem;
    height: calc(100vh - 10rem);
    border-right: 1px solid $color-grey-light--1;

    .heading {
      &--sub {
        font-weight: 700 !important;
        font-size: 1.8rem;
      }
    }

    .input-title {
      font-weight: 600;
      color: $color-primary;
    }

    input {
      width: 100%;
    }

    .dropdown {
      .show {
        justify-content: center;
        align-items: center;
      }
      &-menu {
        max-width: 21rem;
      }
      &-item {
        font-size: 1.4rem;
        &:active {
          background-color: $color-primary;
        }
      }
    }

    .btn-blue {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #searchCountry {
      .dropdown {
        padding: 0.5rem;

        position: relative;

        &-menu {
          height: 25rem;
          width: 100%;
          overflow-x: hidden;

          position: absolute;
          right: 0;
        }

        &-item {
          font-size: 1.4rem;
          font-weight: 500;
          padding: 0.5rem;

          &:hover,
          &:visited,
          &::selection {
            cursor: pointer;
            background-color: $color-grey-light--1;
            font-weight: 600;
          }

          a:hover {
            color: $color-black !important;
          }
        }
      }
    }
  }

  &--main {
    width: calc(100vw - 30rem);
    height: calc(100vh - 10rem);

    .selectAll {
      display: flex !important;
      width: max-content !important;
      color: #5d6a7e !important;
      font-weight: 700;
      font-size: 1.5rem;
      background-color: transparent !important;

      &:hover {
        color: $color-primary !important;
      }
    }

    .section-table {
      display: flex;
      width: calc(100vw - 30rem);
      height: calc(100vh - 28rem);
      overflow-y: scroll;

      .table {
        td {
          padding: 0.5rem 1.3rem;
        }

        .form-check-input {
          padding: 0;
          margin: 0.4rem 0.4rem;
        }

        .dropdown {
          &-menu {
            &-item {
              font-size: $default-font-size;
            }
          }
        }
      }
    }

    #message {
      position: relative;
    }

    .message-box {
      background-color: $color-dashboard--light;
      border-radius: 0.5rem;
      color: $color-white;
      font-size: 1.3rem;
      padding: 0.5rem 1rem;

      position: fixed;
      top: -4vh;
      left: -0.5vh;
    }

    .hide-text {
      display: none;
    }
  }
}

.section-history {
  h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: $color-blue-dark;
    margin-bottom: 1.8rem;
  }

  .table-scrollable {
    overflow: auto;
    max-width: 100%;
    max-height: 50.5vh;
    // box-shadow: inset 0 0 5px rgba(150, 150, 150, 0.35);
    margin: auto;
  }
}

#peopleData,
#companyData {
  //CUSTOM SCROLLBAR
  ::-webkit-scrollbar {
    width: 0.85rem !important;
    height: 1rem !important;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $color-grey-light--2;
    border-radius: 1rem;
  }

  ::-webkit-scrollbar-thumb {
    background: $color-grey-light--3;
    border-radius: 1rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $color-secondary;
  }
}
